* {
    margin-top: -12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
}

div {
    height: 10px;
    width: 100vw;
    margin: 0;
    border-radius: 0px;
    background-color: rgb(255, 0, 0);
}



#redbox {
    background-color: red;
}

#redorangebox{
    background-color: orangered;
}

#orangebox{
    background-color: orange;
}

#yellowbox {
    background-color: yellow;
}

#yellowgreenbox {
    background-color: yellowgreen;
}

#greenbox {
    background-color: green;
}
#tealbox {
    background-color: teal;
}
#bluebox {
    background-color: blue;
}
#dsbluebox {
    background-color: darkslateblue;
}
#indigobox {
    background-color: indigo;
}
#bvbox {
    background-color: blueviolet;
}
#violetbox {
    background-color: violet;

}
.box {
    border: 01px solid black;
}