div {
    height: 100px;
    width: 99.9%;
    margin: 10px;
    border-radius: 10px;
    background-color: blue;
}

#redbox {
    background-color: red;
}

#redorangebox{
    background-color: orangered;
}

#orangebox{
    background-color: orange;
}

#yellowbox {
    background-color: yellow;
}

#yellowgreenbox {
    background-color: yellowgreen;
}

#greenbox {
    background-color: green;
}
#tealbox {
    background-color: teal;
}
#bluebox {
    background-color: blue;
}
#dsbluebox {
    background-color: darkslateblue;
}
#indigobox {
    background-color: indigo;
}
#bvbox {
    background-color: blueviolet;
}
#violetbox {
    background-color: violet;

}