* {
    margin: 0px;
}

div {
    height: 100px;
    width: 99.9%;
    margin: 0px;
    border-radius: 0px;
    background-color: rgb(255, 0, 0);
    border: 5px black;
}



#redbox {
    background-color: red;
}

#redorangebox{
    background-color: orangered;
}

#orangebox{
    background-color: orange;
}

#yellowbox {
    background-color: yellow;
}

#yellowgreenbox {
    background-color: yellowgreen;
}

#greenbox {
    background-color: green;
}
#tealbox {
    background-color: teal;
}
#bluebox {
    background-color: blue;
}
#dsbluebox {
    background-color: darkslateblue;
}
#indigobox {
    background-color: indigo;
}
#bvbox {
    background-color: blueviolet;
}
#violetbox {
    background-color: violet;

}
.box {
    border: 1px solid black;
}